<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/prueba">Prueba</a></li>
      <li><a href="/Novedades">Novedades</a></li>
      <li><a href="/Contacto">Contacto</a></li>
      <li><a href="/Probando1">Probando1</a></li>
      <li><a href="/Probando2">Probando2</a></li>


    </ul>
  </nav>
  {{{body}}}
</body>

</html>